.wrapperCard{
  width: 25%;
  padding: 10px;
  min-width: 255px;
}

.card{
  position: relative;
  border: 1px solid #e5e5e5;
  padding: 20px;
  width: 100%;
  border-radius: 30px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  height: 320px;
  text-align: center;

  .rating{
    display: flex;
    position: absolute;
    top: 10%;
    right: 10%;

    .ratingTrue{

    }
    .ratingCount{
      color: #727272;
      margin-left: 5px;
      font-style: italic;
      font-size: 13px;
      position: relative;
      top: 1px;
    }

    .ratingFalse{
      filter: grayscale(0.9);
    }
  }

  &:hover{
    transform: translateY(-8px);
    box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.10);
  }
  h5{
    font-weight: 400;
    font-size: 14px;
  }
  .favorite{
    position: absolute;
    cursor: pointer;
  }

  span{
    text-align: left;
    text-transform: uppercase;
    opacity: 0.5;
    font-size: 12px;
  }



}
.buttonCard{
  position: relative;
  width: 35px;
  height: 35px;
  background: #FFFFFF;
  border: 2px solid #dedede;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:after, &:before{
    display: block;
    position: absolute;
    content: '';
    border-radius: 2px;
    background-color: #b1b1b1;
    transition: all 0.4s ease-in-out;
  }
  &:after,{
    transform: translate(-50%,-50%);
    left: 16px;
    width: 10px;
    height: 2px;
  }
  &:before{
    left: 16px;
    width: 10px;
    height: 2px;
    transform: translate(-50%,-50%) rotate(90deg);
  }

  &:hover{
    background: linear-gradient(160deg, #ff9145 0%, #ff6e00 100%);
    border: none;

    &:after, &:before{
      background-color: #FFFFFF;

    }
    &:after{
      top: 18px;
      left: 15px;
      transform: translate(-50%,-50%) rotate(50deg);
      width: 8px;
      height: 2px;
      box-shadow: 1px 1px 1px #727272;
    }
    &:before{
      left: 20px;
      transform: translate(-50%, -50%) rotate(135deg);
      box-shadow: 1px -1px 1px #727272;
    }
  }
}

.buttonCardAdded{
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(160deg, #ff9145 0%, #ff6e00 100%);
  border: none;

  &:after, &:before{
    display: block;
    position: absolute;
    content: '';
    border-radius: 2px;
    background-color: #FFFFFF;
    transition: all 0.4s ease-in-out;
  }
  &:after{
    transform: translate(-50%,-50%);
    top: 18px;
    left: 15px;
    width: 10px;
    height: 2px;
  }
  &:before{
    left: 20px;
    left: 50%;
    width: 10px;
    height: 2px;
    transform: translate(-50%,-50%) rotate(90deg);
  }

  &:after{
    top: 50%;
    left: 42%;
    transform: translate(-50%,-50%) rotate(50deg);
    width: 8px;
    height: 2px;
    // box-shadow: 1px 1px 1px #727272;
  }
  &:before{
    top: 48%;
    left: 57%;
    transform: translate(-50%, -50%) rotate(130deg);
    //box-shadow: 1px -1px 1px #727272;
  }

  &:hover{
    &:after{
      opacity: 0;
    }
    &:before{
      width: 11px;
      height: 2px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(0deg);
    }
  }
}

.buttonFavorites, .buttonUnFavorites{
  position: relative;
  width: 35px;
  height: 35px;
  background: #FFFFFF;
  border: 2px solid #dedede;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.3s ease-in-out;
  }

  &:hover{
    border: none;
    background-color: #ffc8c8;

    svg{
      fill: #FF8585;
      width: 17px;
      height: 17px;
    }
  }

  &:active{
    svg{
      path{
        fill: #FF8585;
      }
    }
  }
}

.buttonFavorites{
  border: none;
  background-color: #ffc8c8;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  svg{
    fill: #FF8585;
    width: 17px;
    height: 17px;
  }

  &:hover{
    border: none;
    background-color: #ffc8c8;

    svg{
      fill: #b1b1b1;
      width: 15px;
      height: 15px;
    }
  }
}



.fullProduct{

  .reviewsWrapper{
    display: block;
    padding: 10px;
  }
  .reviewsWriteWrapper{
    border: 1px solid #cecece;
    padding: 15px 15px;
    border-radius: 10px;
    width: 100%;
    margin-top: 20px;

    .GeneralContent{
      width: 300px;
      justify-content: space-between;
      display: flex;
      margin-bottom: 10px;
    }
    .textarea{
      width: 100%;

      textarea{
        width: 100%;
        height: 183px;
      }
      span{
        margin-bottom: 20px;
      }
    }
    span{
      display: block;
      font-size: 14px;
      font-style: italic;
      color: #727272;
      margin-right: 10px;
    }
    input{
      border-radius: 5px;
      font-size: 16px;
      padding: 5px 10px;
      border: 1px solid #505050;
    }
  }

  .reviewsItem{
    border: 1px solid #cecece;
    padding: 15px 15px;
    border-radius: 10px;
    width: 100%;
    margin-top: 20px;

    .avtor{
      margin-bottom: 10px;
      span{
        color: #727272;
        margin-right: 10px;

      }
    }

    .rating{
      margin-bottom: 15px;
      display: flex;
      img{
        margin-left: 5px;
      }
    }

    .time{
      font-size: 12px;
      color: #b1b1b1;
    }
  }

  .content{
      display: flex;
    position: relative;
      &_favorites{
        position: absolute;
        left: 1%;
        top: 7%;
      }

    &_priceContainer{
      padding: 40px;
      margin-left: 40px;
      .count{
        color: green;
        font-style: italic;
        b{
          color: black;
        }
      }
      .container{
        position: relative;
        display: flex;
        .counter{
          position: relative;
          top: -10px;


        }
      }
        .price{
          font-style: normal;
          font-weight: bold;
          font-size: 22px;

          margin-right: 20px;
          span{
            font-weight: normal;
            color: #505050;
            font-style: italic;
            font-size: 18px;
            margin-right: 15px;
          }
        }


    }


  }
}