
.GreenButton{
  position: relative;
  padding: 15px 60px;

  background-color: #ff6900;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  border-radius: 18px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover{
    background-color: lighten(#ff6900, 5%);
  }

  &:active{
    background-color: darken(#ff6900, 5%);
  }


}

.ArrowRight{
  img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
    transition: all 0.3s ease-in-out;
  }

  &:hover{
    img{
      right: 8%;
    }
  }
}

.ArrowLeft{
  img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    left: 10%;
    transition: all 0.3s ease-in-out;
  }

  &:hover{
    img{
      Left: 8%;
    }
  }
}