
body{
  margin: 0;
  font-family: 'inter', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E7F6FF;

}
*{
  font-family: 'inter', system-ui;
  box-sizing: border-box;
}

.wrapper{
  max-width: 1100px;
  margin: 50px auto;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

header{
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: space-between;
  padding: 25px 45px;
  align-items: center;
  position: relative;
  h3,p{
    margin: 0;
  }



  .header_center{
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    a{
      margin-left: 20px;
      transition: all 0.3s ease-in-out;

      &:hover{
        color: #ff6900;
      }
    }
  }

  .header_right{
    display: flex;
    position: relative;

    .cartButton{
      background-color: #ff6900;
      padding: 7px 14px 7px 43px;
      border-radius: 20px;
      position: absolute;
      margin-right: 30px;
      cursor: pointer;
      height: 40px;
      border: none;
      transition: all 0.3s ease-in-out;
      top: 50%;
      right: 100%;
      transform: translateY(-50%);

      &:hover{
          background-color: lighten(#ff6900, 5%);
      }
      .cartTextButton{
        svg{
          position: absolute;
          left: 14px;
        }
      }
      .rubles-card{
        transition: all 0.3s ease-in-out;
        font-weight: 600;
        font-size: 15px;
        color: #ffffff;
        display: flex;
        span{
          margin-left: 5px;
        }
      }
    }

    .kabinetButton{
      display: block;
      position: relative;
      cursor: pointer;
      background: none;
      border: none;
      transition: all 0.3s ease-in-out;

      svg{
        display: block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        transition: inherit;
        path{
          transition: inherit;
        }
      }

      span{
        display: block;
        font-weight: bold;
        font-size: 16px;
      }

      &:hover{
        color: #ff6900;

        svg{
          transform: translate(-50%, -10%);
          path{
            fill: #ff6900;
          }
        }
      }
    }

    .kabinetLogin{
      text-align: center;
      background-color: #ff6900;
      padding: 7px 25px;
      border: none;
      height: 40px;
      cursor: pointer;
      border-radius: 20px;
      color: #fff;
      font-size: 17px;
      font-weight: bold;
      transition: all 0.3s ease-in-out ;
      &:hover{
        background-color: lighten(#ff6900, 5%);
      }
    }
  }
}

.content{
  position: relative;

  .SortContainer{
    display: flex;
    margin-bottom: 20px;


  }
  h1{
    margin: 0;
    position: relative;
    }
  .search-block{
    position: relative;
    border: 1px solid #F2F2F2;
    border-radius: 10px;
    padding: 0 15px;
    input{
      font-size: 16px;
      border: 0;
      padding: 13px;
      width: 200px;
    }

    .clearSearch{
      position: absolute;
      right: 5%;
      cursor: pointer;
      width: 13px;
      height: 13px;
      transition: transform 0.3s ease-in-out;
      &:hover{
        transform: rotate(90deg);
      }
    }
  }
  .CardCollection{
    display: flex;
    flex-wrap: wrap;

    .loading_dots{
      position: relative;
      left: 50%;
      transform: translate(-50%, 50%);
    }

  }
  .loading_btn{
    position: relative;
    left: 39%;
  }


}




